.head{
    background-color: wheat;
    color: black;
}

.teacher{
    background-color: wheat;
    color: black;
}   

.Student{
    background-color: wheat;
    color: black;
}
.topics{
    background-color: wheat;
    color: black;
}
.status{
    background-color: wheat;
    color: black;
}
.class{
    background-color: blueviolet;
    color:green;
}
.bold{
    background-color: wheat;
    color: black;
}
.topic{
    background-color: deeppink;
    color: black;
}