* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;

}
.top {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding:30px; 
    background-color: white;
    border-bottom: 1px solid #ddd;
    box-shadow:0 2px 8px rgba(0, 0, 0, 0.12);
 
}
.body{
    background-color:rgb(248, 247, 250);
}
.top img {
    width: 100px;
    height: auto;
}

.record {
    display: flex;
    align-items: center;
    margin-left: 55px;
    gap: 55px;
}

.record a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.menuside {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 18px;
}
.menuside a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.menuside button {
    border: none;
    background-color: #ed3030;
    color: white;
    padding: 11px 18px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600; 
}
.content {
    text-align: center;
    padding: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 30px;
}
.content h1 {
    font-size: 42px;
    margin: 0 auto 10px;
    color: #303039;
}
.content p {
    font-size: 21px;
    line-height: 1.5;
    color: #55555f;
    margin: 0 auto;
}
.button{
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 30px;
}
.button button{
    border: 1px solid rgb(216, 215, 215);
    border-radius: 20px; 
    background-color: white;
    padding: 10px;
    font-size: medium;
}
.card{
 
    border: 1px solid rgb(205, 202, 202);
     border-radius: 15px;
     width: 270px;
     height: auto;
     padding: 10px;
     margin: 10px;
     background-color: white;
  
}
.card:hover{
  border-color: #303039;
  
}
.cardcon P{
   font-size: 15px;
   color: #7a7a7e;
}
.cardcon{
    font-size:15px;
}
.set{
    display: grid;
    grid-template-columns: repeat(5,1fr) ;
    margin: 30px
}
.center{
    font-size: 23px;
    text-align: center;
}
.down img{
    width:400px;
    border-top-left-radius: 20px;
     border-top-right-radius: 20px;
}
.downcon{
    padding: 20px;
}
.down{
    border: 1px solid rgb(250, 247, 247);
    border-radius: 20px;
    width: 400px;
    height:430px;  
}
.parent{
display: flex;
justify-content: center;
gap: 30px;
}
.low h1{
font-size: 43px;
text-align: center;
}
.low p{
text-align: center;
font-size: 22px;
padding-left: 250px;
padding-right: 250px;
color: #525256;
}
.footer img{
    width: 69px;
    height: 45px;
    margin:40px;

}
.foot{
    background-color: #303039;
    display: flex;
    gap: 130px;
    justify-content: center;
    color: #ddd;
}
.foot img{
    width: 160px;
    display: flex;
    flex-direction: column;
    margin: 15px;
}
footer{
background-color: #363636;
color: #ddd;
}